<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список задач</title>
    <style>
        .strike{
             text-decoration: line-through;
             color: grey;
        }
    </style>
    <script>
        function toggleCompletion(taskId){
            const taskRow = document.getElementById('task-${taskId}');
            const titleCell = taskRow.querySelector('.task-title');
            const descriptionCell = taskRow.querySelector('.task-description');

            titleCell.classList.toggle('strike');
            descriptionCell.classList.toggle('strike');
        }
    </script>
</head>
<body>
<h1>Список задач</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата создания</th>
        <th>Дата завершения</th>
        <th>Действия</th>
    </tr>
    <tr th:each="task : ${tasks}" id="task-${task.id}">
        <td th:text="${task.id}"></td>
        <td class="task-title"th:text="${task.title}"></td>>
        <td td class="task-description"th:text="${task.description}"></td>
        <td th:text="${task.createDate}"></td>
        <td th:text="${task.dueDate}"></td>
        <td>
            <input type="checkbox"onclick="toggleCompletion(${task.id})"/>Выполнено
            <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Редактировать</a>
            <a th:href="@{/tasks/delete/{id}(id=${task.id})}" onclick="return confirm('Вы уверены?');">Удалить</a>
        </td>
    </tr>
</table>

<a href="/tasks/new">Добавить новую задачу</a>
</body>
</html>
